.main-nav   {
    background-color: rgb(50, 8, 202);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;

    .nav-links {
        padding: 2rem;
    
    .nav-item {
        text-decoration: none;
        color: white;

        &.active {
            color: red;
            font-weight: bold;
        }

        &:hover {
            font-size: 1.2rem;
            color: darkred;
        }
    }
    }
}